{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Economy | Xynoshare</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
 <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="home">XYNOSHARE</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li ><a href="home">Home</a></li>
          <li class="active"><a class="drop" href="news">News | Economy</a>
            <ul>
              <li><a href="economy">Economy</a></li>
              <li><a href="international">International</a></li>
              <li><a href="technology">Technology</a></li>
              <li><a href="sports">Sports</a></li>
            </ul>
          </li>
          
          {% if user.is_authenticated %}
            <li><a class="drop">{{user.first_name}}</a>
            <ul>
              <li><a href="accounts/logout">Logout</a></li>
            </ul>
          </li>
            {% else %}
            <li><a href="accounts/login">LogIn</a></li>
            {% endif %}

        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>

<div class="wrapper row3">
  <main class="hoc container clear"> 

  {% for article in article %}
  {% if article.economy %}
    
    <!-- ################################################################################################ -->
    <article>
    <div class="content three_quarter" id='{{article.id}}'> 
      <h1>{{article.title}}</h1>
      <time class="font-xs block btmspace-10">{{article.date}}</time>
      <img class="imgr borderedbox inspace-5" src="media/{{article.img}}" alt="">
      <p>{{article.description}}</p>
    </div>
  </article>
    <!-- ################################################################################################ -->

    {% endif %}
    {% endfor %}
    
    <!-- ################################################################################################ -->
    <article>
    <div class="content three_quarter"> 
      <h1>Boost exports to $400bn this year: PM to businessmen, envoys</h1>
      <time class="font-xs block btmspace-10">7<sup>th</sup> AUG 2021</time>
      <img class="imgr borderedbox inspace-5" src="{% static 'images/demo/modiji2.jpeg' %}" alt="">
      <p>NEW DELHI: PM Narendra Modi on Friday said that the decision to drop the provision of retrospective taxation from the statute demonstrated the Centre's commitment to provide stability of investment climate and also signalled policy consistency. The statement came hours after the Lok Sabha passed the Bill meant to end tax disputes with 17 companies, including high profile ones such as Vodafone and Cairn Plc.</p>
      <p>Addressing exporters, businesses, states and Indian ambassadors in foreign missions at an event to work out a strategy to scale up India's exports to $400 billion this year, the PM said exporters know very well the importance of stability. "It sends a clear message to all investors that not only does India offer new opportunities, but a decisive government has the will to fulfil its promise," Modi said while talking about the legislation. He also said that the Centre was working closely with states to minimise the regulatory burden.</p>
      <p>While promising all possible support from the government to boost exports, Modi exhorted every stakeholder to play their role, with states governments and Indian missions advised to work together in identifying new product segments and markets.</p>
      <p>Modi said there were positive signs in the economy. "Today, we are not just seeing signs of recovery, but there are positive signs on high growth too. So, this is a good time to set high targets for exports."
        The $400 billion goal is seen to be ambitious as the government is looking to boost exports by 37% over last year's level. While seeking to corner a larger share of the global pie, the PM said there were four key focus areas to provide a thrust - stepping up manufacturing, removing logistical and transport-related challenges, working closely with exporters and getting international markets for Indian products.</p>
    </div>
  </article>
    <!-- ################################################################################################ -->

   

   <!-- ################################################################################################ -->
   <article>
    <div class="content three_quarter"> 
      <h1>India’s economy showing positive indicators of high growth rate: PM Modi</h1>
      <time class="font-xs block btmspace-10">6<sup>th</sup> AUG 2021</time>
      <img class="imgr borderedbox inspace-5" src="{% static 'images/demo/modiji.jpeg' %}" alt="">
      <p>India’s economy is not only showing signs of recovery but also positive indicators of high growth rate, Prime Minister Narendra Modi said on Friday.Although the future expectations index rose to 104 from 96.4, suggesting optimism about the year-ahead prospects, it’s unlikely to result in higher consumer spending.</p>
      <p>Modi urged the industry and exporters to take advantage of opportunities created in the post-Covid world, explore new destinations and expand India’s export basket to achieve the $400 billion target.The latest survey came as the RBI’s Monetary Policy Committee kept interest rates unchanged at a record-low to support an economy still struggling to recover from the impact of pandemic curbs. With forecasters warning of a third wave, any new restrictions could spell more bad news for the country, where private consumption makes up some 60% of gross domestic product.</p>
    </div>
  </article>
    <!-- ################################################################################################ -->

    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">ABOUT US</h6>
      <p>We are team of xynoshare</p>
      <p class="btmspace-15">Our Goal is Post The News Which is Really Worth for You And always try to provide Rich Content. Well in This Time its New But time to time we will grow with our hardwork.</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="http://facebook.com/sailendradash"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="http://twitter.com/sailendradash"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-linkedin" href="https://linkedin.com/in/sailendra-dash-713023218/"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="https://plus.google.com/sailendradash"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Contact Us</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Berhampur &amp; Ganjam, Odisha
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +91 6371172432</li>
        <li><i class="fa fa-fax"></i> +91 7609055131</li>
        <li><i class="fa fa-envelope-o"></i> sailendradash@protonmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Support Us</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">How You Can Support?</a></h2>
            <time class="font-xs block btmspace-10">Thursday, 5<sup>th</sup> AUG 2021</time>
            <p class="nospace">This Site is Running By Public Funds, So For Our Hard Work of Provide You News You can Support Us.&hellip;</p>
          </article>
        </li>
        <footer><a class="btn" href="https://www.paypal.com/paypalme/sailendradash">DONATE&raquo;</a></footer>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>


<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p align="center">Copyright &copy; 2021 <a href="#">XYNOSHARE</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>